<form action="" method="get" class="form-example">
  <div class="form-example">
    <label for="name">Enter recipe name: </label>
    <input type="text" name="name" id="name" required>
  </div>

<a href="">Create</a>
